/* Стили для контейнера с кнопками */
.buttons {
    display: flex; /* Использует flexbox для расположения элементов */
    flex-direction: row; /* Устанавливает направление flex-контейнера по строке */
    align-items: center; /* Центрирует элементы по вертикали */
    justify-content: center; /* Центрирует элементы по горизонтали */
    position: absolute; /* Позиционирует элемент абсолютно относительно ближайшего позиционированного предка */
    bottom: 0; /* Устанавливает нижнее положение элемента */
    left: 50%; /* Устанавливает горизонтальное положение элемента */
    transform: translateX(-50%); /* Центрирует элемент по горизонтали */
}

/* Стили для кнопок */
.game-button {
    width: 180px; /* Устанавливает фиксированную ширину элемента */
    height: auto; /* Устанавливает автоматическую высоту элемента */
    max-height: 180px; /* Устанавливает максимальную высоту элемента */
    cursor: pointer; /* Устанавливает курсор в виде указателя */
    transition: transform 0.3s ease-in-out; /* Добавляет плавный переход для свойства transform */
    position: absolute; /* Позиционирует элемент абсолютно относительно ближайшего позиционированного предка */
    bottom: 0; /* Устанавливает нижнее положение элемента */
    left: 50%; /* Устанавливает горизонтальное положение элемента */
    transform: translateX(-50%); /* Центрирует элемент по горизонтали */
}
