/* Общие стили для всех элементов */
* {
    margin: 0; /* Убирает внешние отступы */
    padding: 0; /* Убирает внутренние отступы */
    box-sizing: border-box; /* Включает padding и border в общую ширину и высоту элемента */
    font-family: "Fulbo"; /* Устанавливает пользовательский шрифт для всех элементов */
}

/* Стили для тела документа */
body {
    background: #0f0a18; /* Устанавливает фон страницы */
    display: flex; /* Использует flexbox для расположения элементов */
    align-items: center; /* Центрирует элементы по вертикали */
    justify-content: center; /* Центрирует элементы по горизонтали */
    min-height: 100vh; /* Устанавливает минимальную высоту страницы равной высоте окна браузера */
}

/* Стили для контейнера */
.container {
    position: relative; /* Позиционирует элемент относительно его нормального положения */
    width: 100%; /* Устанавливает ширину элемента */
    height: 100vh; /* Устанавливает высоту элемента */
    overflow: hidden; /* Скрывает содержимое, которое выходит за пределы элемента */
}

/* Стили для заднего фона */
.background {
    position: absolute; /* Позиционирует элемент абсолютно относительно ближайшего позиционированного предка */
    top: 0; /* Устанавливает верхнее положение элемента */
    left: 0; /* Устанавливает левое положение элемента */
    width: 100%; /* Устанавливает ширину элемента */
    height: 100%; /* Устанавливает высоту элемента */
    object-fit: cover; /* Устанавливает режим масштабирования изображения */
    z-index: -1; /* Устанавливает порядок наложения элемента */
}

/* Стили для контейнера с кнопками */
.buttons {
    display: flex; /* Использует flexbox для расположения элементов */
    flex-direction: column; /* Устанавливает направление flex-контейнера по столбцу */
    align-items: center; /* Центрирует элементы по горизонтали */
    justify-content: center; /* Центрирует элементы по вертикали */
    position: absolute; /* Позиционирует элемент абсолютно относительно ближайшего позиционированного предка */
    top: 50%; /* Устанавливает вертикальное положение элемента */
    left: 50%; /* Устанавливает горизонтальное положение элемента */
    transform: translate(-50%, -50%); /* Центрирует элемент */
}

/* Стили для кнопок */
.game-button {
    width: 250px; /* Устанавливает фиксированную ширину элемента */
    height: auto; /* Устанавливает автоматическую высоту элемента */
    max-height: 100px; /* Устанавливает максимальную высоту элемента */
    margin: 20px 0; /* Добавляет вертикальные отступы между элементами */
    cursor: pointer; /* Устанавливает курсор в виде указателя */
    transition: transform 0.3s ease-in-out; /* Добавляет плавный переход для свойства transform */
}

/* Стили для кнопок при наведении курсора */
.game-button:hover {
    transform: scale(0.9); /* Уменьшает элемент в размере */
}
