body, html {
    margin: 0; /* Убираем внешние отступы у body и html */
    padding: 0; /* Убираем внутренние отступы у body и html */
    width: 100%; /* Задаем ширину body и html на 100% от окна браузера */
    height: 100%; /* Задаем высоту body и html на 100% от окна браузера */
    overflow: hidden; /* Скрываем полосы прокрутки */
}

#game-container {
    position: relative; /* Устанавливаем относительное позиционирование для контейнера игры */
    width: 100%; /* Задаем ширину контейнера игры на 100% от родительского элемента */
    height: 100%; /* Задаем высоту контейнера игры на 100% от родительского элемента */
    overflow: hidden; /* Скрываем полосы прокрутки внутри контейнера игры */
}

#background {
    position: absolute; /* Устанавливаем абсолютное позиционирование для фона */
    top: 0; /* Задаем верхнюю позицию фона */
    left: 0; /* Задаем левую позицию фона */
    width: 100%; /* Задаем ширину фона на 100% от родительского элемента */
    height: 200%; /* Удваиваем высоту фона для создания эффекта бесконечного движения */
    background-image: url('../static/images/bg_star.jpg'); /* Устанавливаем фоновое изображение */
    background-size: cover; /* Задаем размер фона, чтобы он покрывал весь элемент */
    background-position: center; /* Центрируем фоновое изображение */
    background-color: red; /* Задаем цвет фона */
}

#background2 {
    position: absolute; /* Устанавливаем абсолютное позиционирование для второго фона */
    top: -100%; /* Задаем верхнюю позицию второго фона */
    left: 0; /* Задаем левую позицию второго фона */
    width: 100%; /* Задаем ширину второго фона на 100% от родительского элемента */
    height: 200%; /* Удваиваем высоту второго фона для создания эффекта бесконечного движения */
    background-image: url('../static/images/bg_star.jpg'); /* Устанавливаем фоновое изображение */
    background-size: cover; /* Задаем размер фона, чтобы он покрывал весь элемент */
    background-position: center; /* Центрируем фоновое изображение */
    background-color: red; /* Задаем цвет фона */
}

#rocket {
    position: absolute; /* Устанавливаем абсолютное позиционирование для ракеты */
    bottom: 0; /* Задаем нижнюю позицию ракеты */
    left: 50%; /* Задаем левую позицию ракеты на 50% от ширины родительского элемента */
    transform: translateX(-50%); /* Сдвигаем ракету влево на 50% от ее ширины для центрирования */
    width: 100px; /* Задаем ширину ракеты */
    height: auto; /* Задаем автоматическую высоту ракеты */
    cursor: pointer; /* Изменяем курсор на указатель при наведении на ракету */
}

.asteroid {
    position: absolute; /* Устанавливаем абсолютное позиционирование для астероидов */
    top: -50px; /* Задаем верхнюю позицию астероидов */
    width: 50px; /* Задаем ширину астероидов */
    height: auto; /* Задаем автоматическую высоту астероидов */
}

.message {
    position: absolute; /* Устанавливаем абсолютное позиционирование для сообщений */
    font-size: 20px; /* Задаем размер шрифта сообщений */
    font-weight: bold; /* Задаем жирный шрифт для сообщений */
    transition: opacity 1s ease-out; /* Устанавливаем плавное изменение прозрачности сообщений */
}
