<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="{{ url_for('static', path='style.css') }}">
</head>

<body>
    <div class="container">
        <img src="{{ url_for('static', path='images/bg_blue.png') }}" alt="Background" class="background">
        <div class="buttons">
            <div class="button-group">
                <img src="{{ url_for('static', path='images/rocket.gif') }}" alt="Rocket" class="game-button" id="rocket">
            </div>
        </div>
        <div class="control-buttons">
            <img src="{{ url_for('static', path='images/arr.png') }}" alt="Left Arrow" class="arrow left-arrow" id="left-arrow">
            <img src="{{ url_for('static', path='images/arr.png') }}" alt="Right Arrow" class="arrow right-arrow" id="right-arrow">
        </div>
    </div>

    <script src="https://telegram.org/js/telegram-web-app.js"></script>
    <script>
        const tg = window.Telegram.WebApp;
        const defaultUrl = "https://38f6-147-45-193-130.ngrok-free.app"; // TUNNEL!!!

        tg.headerColor = "#fff";
        tg.expand();

        async function fetchData(endpoint, data) {
            try {
                const response = await fetch(`${defaultUrl}/${endpoint}`, {
                    method: "POST",
                    headers: { Authentication: tg.initData },
                    body: JSON.stringify(data)
                });
                const responseData = await response.json();
                return responseData;
            } catch (error) {
                console.error(`Error: ${error}`);
                throw error;
            }
        }

        const rocket = document.querySelector("#rocket");
        const leftArrow = document.querySelector("#left-arrow");
        const rightArrow = document.querySelector("#right-arrow");

        let rocketPosition = 0;
        const step = 10; // Шаг перемещения ракеты
        let moveInterval;
        const containerWidth = document.querySelector(".container").clientWidth;
        const rocketWidth = rocket.clientWidth;
        const maxMovement = 250; // Максимальное расстояние для движения вправо и влево

        // Устанавливаем начальное положение ракеты в центре экрана
        rocket.style.transform = `translateX(${containerWidth / 2 - rocketWidth / 2}px)`;
        rocketPosition = containerWidth / 2 - rocketWidth / 2;

        function startMove(direction) {
            moveInterval = setInterval(() => {
                if (direction === 'left') {
                    rocketPosition -= step;
                    if (rocketPosition < containerWidth / 2 - rocketWidth / 2 - maxMovement) {
                        rocketPosition = containerWidth / 2 - rocketWidth / 2 - maxMovement;
                    }
                } else if (direction === 'right') {
                    rocketPosition += step;
                    if (rocketPosition > containerWidth / 2 - rocketWidth / 2 + maxMovement) {
                        rocketPosition = containerWidth / 2 - rocketWidth / 2 + maxMovement;
                    }
                }
                rocket.style.transform = `translateX(${rocketPosition}px)`;
            }, 50); // Интервал обновления позиции
        }

        function stopMove() {
            clearInterval(moveInterval);
        }

        leftArrow.addEventListener("mousedown", () => {
            startMove('left');
        });

        leftArrow.addEventListener("mouseup", () => {
            stopMove();
        });

        leftArrow.addEventListener("mouseleave", () => {
            stopMove();
        });

        rightArrow.addEventListener("mousedown", () => {
            startMove('right');
        });

        rightArrow.addEventListener("mouseup", () => {
            stopMove();
        });

        rightArrow.addEventListener("mouseleave", () => {
            stopMove();
        });

        leftArrow.addEventListener("touchstart", (e) => {
            e.preventDefault(); // Отключаем контекстное меню
            startMove('left');
        });

        leftArrow.addEventListener("touchend", () => {
            stopMove();
        });

        rightArrow.addEventListener("touchstart", (e) => {
            e.preventDefault(); // Отключаем контекстное меню
            startMove('right');
        });

        rightArrow.addEventListener("touchend", () => {
            stopMove();
        });
    </script>
</body>

</html>
